replicaCount: 1

image:
  repository: addis/jena-es
  pullPolicy: Always
  tag: "test"

jena:
  apiKey: xxxx
  eventSourceUriPrefix: https://jena.dev.molgenis.org

persistence:
  enabled: true
  storageClass: "nfs-provisioner-retain"
  accessMode: ReadWriteOnce
  size: 10Gi
  useExistingClaim: false
  # existingClaim: jena-es

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: jena.dev.molgenis.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
