apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mcda.fullname" . }}
  labels:
    {{- include "mcda.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mcda.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mcda.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "mcda.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: init-db
          image: fabric8/fabric8-dependency-wait-service
          env:
            - name: POSTGRESQL_URI
              value: postgres://{{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}:5432
            - name: DEPENDENCY_POLL_INTERVAL
              value: "10"
            - name: DEPENDENCY_LOG_VERBOSE
              value: "true"
          command: ["/bin/sh"]
          args: ["-c", "fabric8-dependency-wait-service-linux-amd64 $(POSTGRESQL_URI)"]
      {{- if .Values.mcda.enterprise.enabled }}
        - name: update-database-liquibase
          image: registry.drugis.org/mcda-closed-liquibase:test1
          env:
            - name: LIQUIBASE_URL
              value: 'jdbc:postgresql://{{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}:5432/{{ .Values.postgresql.postgresqlDatabase}}'
            - name: LIQUIBASE_USERNAME
              value: '{{ .Values.postgresql.postgresqlUsername }}'
            - name: LIQUIBASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}
                  key: postgresql-password
          args:
            - 'update'
        - name: create-enterprise-user
          image: postgres:11
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}
                  key: postgresql-password
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret-{{ template "mcda.fullname" . }}
                  key: admin-password
          command: ['sh', '-c']
          args:
            - PGPASSWORD=${POSTGRES_PASSWORD} psql -h {{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }} -U {{ .Values.postgresql.postgresqlDatabase }} -a -f /tmp/create_user.sql
          volumeMounts:
            - name: mcda-enterprise-init
              mountPath: /tmp
        - name: init-survey
          image: fabric8/fabric8-dependency-wait-service
          env:
            - name: SURVEY_URI
              value: "{{ .Values.mcda.survey.host }}"
            - name: DEPENDENCY_POLL_INTERVAL
              value: "10"
            - name: DEPENDENCY_LOG_VERBOSE
              value: "true"
          command: ["/bin/sh"]
          args: ["-c", "fabric8-dependency-wait-service-linux-amd64 $(SURVEY_URI)"]
      {{- else }}
        - name: get-liquibase-changelog
          image: busybox:1.34.1
          command: ['sh', '-c', "mkdir -p /liquibase/changelog && wget -O /liquibase/changelog/liquibase-changelog.sql https://raw.githubusercontent.com/drugis/mcda-elicitation-web/{{ .Values.mcda.schema.version }}/database.pg.sql"]
          volumeMounts:
            - name: liquibase-changelog
              mountPath: /liquibase/changelog
        - name: update-database-liquibase
          image: liquibase/liquibase:4.6.2
          command: ['sh', '-c', "docker-entrypoint.sh --url=$(LIQUIBASE_COMMAND_URL) --username=$(LIQUIBASE_COMMAND_USERNAME) --password=${LIQUIBASE_COMMAND_PASSWORD} --classpath=/liquibase/changelog/ --changeLogFile=$(LIQUIBASE_COMMAND_CHANGELOG_FILE) update"]
          env:
           - name: LIQUIBASE_COMMAND_URL
             value: jdbc:postgresql://{{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}:5432/{{ .Values.postgresql.postgresqlDatabase }}?currentSchema=public
           - name: LIQUIBASE_COMMAND_CHANGELOG_FILE
             value: liquibase-changelog.sql
           - name: LIQUIBASE_COMMAND_USERNAME
             value: {{ .Values.postgresql.postgresqlUsername }}
           - name: LIQUIBASE_COMMAND_PASSWORD
             value: {{ .Values.postgresql.postgresqlPassword }}
          volumeMounts:
            - name: liquibase-changelog
              mountPath: /liquibase/changelog
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: MCDAWEB_DB_USER
              value: {{ .Values.postgresql.postgresqlUsername }}
            - name: MCDAWEB_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}
                  key: postgresql-password
            - name: MCDAWEB_DB_HOST
              value: {{ include "call-nested" (list $ "postgresql" "postgresql.fullname") }}
            - name: MCDAWEB_DB_NAME
              value: {{ .Values.postgresql.postgresqlDatabase }}
            - name: MCDAWEB_GOOGLE_KEY
              valueFrom:
                secretKeyRef:
                  name: secret-{{ include "mcda.fullname" . }}
                  key: google-key
            - name: MCDAWEB_GOOGLE_SECRET
              valueFrom:
                secretKeyRef:
                  name: secret-{{ include "mcda.fullname" . }}
                  key: google-secret
            - name: MCDAWEB_COOKIE_SECRET
              valueFrom:
                secretKeyRef:
                  name: secret-{{ include "mcda.fullname" . }}
                  key: cookie-secret
            - name: MCDA_HOST
              value: {{ .Values.mcda.host }}
            - name: PATAVI_HOST
              value: {{ .Values.patavi.host }}
            - name: PATAVI_PORT
              value: "{{ .Values.patavi.port }}"
            - name: PATAVI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: secret-{{ include "mcda.fullname" . }}
                  key: api-key
            - name: SECURE_TRAFFIC
              value: "{{ .Values.mcda.secure }}"
            - name: MCDAWEB_AUTHENTICATION_METHOD
              value: {{ .Values.mcda.authenticationMethod }}
            - name: MCDA_SURVEY_HOST
              value: "{{ .Values.mcda.enterprise.survey.host }}"
          ports:
            - name: http
              containerPort: 3002
          livenessProbe:
            tcpSocket:
              port: 3002
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 3002
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: liquibase-changelog
          emptyDir: {}
        {{- if .Values.mcda.enterprise.enabled }}
        - name: mcda-enterprise-init
          secret:
            secretName: secret-enterprise-init-{{ include "mcda.fullname" . }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
