replicaCount: 1

image:
  repository: matomo
  pullPolicy: IfNotPresent
  tag: "4.5.0"

web:
  user: admin
  password: xxxx

mariadb:
  db:
    forcePassword: false
    database: "drugis"
    username: "matomoDrugis"
    password: "test"
  # persistence:
  #   existingClaim:

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 1337

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: analytics.drugis.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

nodeSelector: {}

tolerations: []

affinity: {}
